@page "{id:int?}"
@model EbiMimi.Pages.Memories.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Media</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Media.Title" class="control-label"></label>
                <input asp-for="Media.Title" class="form-control" />
                <span asp-validation-for="Media.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Media.Date" class="control-label"></label>
                <input asp-for="Media.Date" class="form-control" />
                <span asp-validation-for="Media.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Media.Desc" class="control-label"></label>
                <input asp-for="Media.Desc" class="form-control" />
                <span asp-validation-for="Media.Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
