@page
@model EbiMimi.Pages.Memories.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> hbhb </p>
    <p>@Html.DisplayNameFor(model => model.Media[0].Title)</p>
    
</div>
